// // Here you can add other styles
:root {
  --cui-tertiary-bg: #e4eaee; // New background color
}

// .sidebar-nav .nav-link.active {
//     background: #ff6347 !important; /* Force override with your color */
//   }

.flex-row-end {
  display: flex;
  flex-direction: row-reverse;
}

.form-control-table {
  display: block;
  width: 100%;
  padding: 0 !important;
  border: none;
  border-radius: 3px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.hero-anim-text,
.hero-anim-logo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero-anim-logo {
  position: static;
  display: block;
}

.brand-logo {
  height: 50px;
  object-fit: contain;
  opacity: 0.8;
  filter: grayscale(100%);
  transition: filter 0.3s ease;

  &:hover {
    filter: grayscale(0%);
  }
}
